#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  margin: 6px;
  font-size: 24px;
  border: 2px solid grey;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 0px 0px;
  border: 1px solid grey;
  height: 90vh;
  width: 90vh;
}

.grid-unit {
  background-color: rgb(128, 128, 128, 0);
}
