.grid-container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . ."
    ". . . . . . . . . . . . . . . .";
  border: 1px solid black;
  height: 90vh;
  width: 90vh;
}
